.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.header{
}


.navbarTop{
    background: #3b4256;
    color: #e0e0e0;
}

.rightSide{
    margin-right: 10px;
}
.language{
    /*display: flex;*/
    /*align-items: center;*/
    padding: 17px 0;
}
.language img{
    width: 20px;
    margin-right: 5px;
}
.languageText{
}


.navbarBottom{
    color: #3B4256;
    font-weight: 500;
    line-height: 1;
    background: #fff;
    border-bottom: 1px solid #dde1e6;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3B4256;
    gap: 10px;
}
.logoImg{
    width: 60px;
    height: 60px;
}
.logoTexts{
}
.logoTextTop{
    font-size: 20px;
}
.logoTextBot{
    font-size: 14px;
    font-weight: 400;
}
.navs{
    display: flex;
    font-size: 16px;
    gap: 30px;
}
.nav{
    padding: 31px 0;
    /*border-bottom: 2px solid transparent;*/
    position: relative;
}
.dropDownMenu{
    display: none;
}
.nav:hover > .dropDownMenu{
    display: block;
}
.navLink{
    color: #3B4256;
    text-decoration: none;
}
.navLink:hover{
    color: #c51f24;
}

.active{
    color: #c51f24;
    text-decoration: none;
}


.nav:before,
.nav:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    border: 1px solid #8F1A1E;
    transform: translateX(-50%) scale(0);
    content: "";
}

.nav:after{
    transition: 0.3s;
}
.nav:hover:after{
    transform: translateX(-50%) scale(1.3);
    transition: 0.3s;
}

.burgerMenu{
    font-size: 30px;
    display: none;
}

@media (max-width: 750px) {
    .burgerMenu{
        display: block;
        padding: 24px 0;
    }
    .navs{
        /*display: none;*/
        flex-direction: column;
        position: fixed;
        width: 50%;
        height: 100vh;
        padding-top: 75px;
        top: 0;
        left: 0;
        background: #fff;
        gap: 10px;
        transform: translateX(-100%);
        transition: all 0.3s;
    }
    .navsActive{
        transform: translateX(0);
    }
    .nav{
        padding: 10px 20px;
    }
    .nav:before,
    .nav:after {
        display: none;
    }
    .nav:hover > .dropDownMenu{
        display: none;
    }
}