.administration{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.administration span{
    font-weight: bold;
    color: #3b4256;
}
.administration a{
    color: #3b6c96;
}
.administration a:hover{
    color: #5ba7e5;
}
.name{

}
.position{

}
.contactInfo{

}
.email{

}
.img{

}
.img img{
    width: 100px;
    height: 140px;
    object-fit: cover;
}

@media (max-width: 750px) {
    .administration{
        margin: 20px 10px;
    }
}
@media (max-width: 490px) {
    .administration{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 70px 20px;
    }
    .img img{
        width: 200px;
        height: 280px;
        object-fit: cover;
    }
}