.card{
    max-width: 320px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.img{
    max-height: 320px;
}
.img img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}
.title{
    padding: 20px 10px;
}