.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #3b4256;
}
.contact{
}
.address{

}
.phone{

}
.email{

}
.website{

}
.contact span{
    font-weight: bold;
    color: #3b4256;
}