.goTop{
    max-width: 70px;
    max-height: 70px;
    position: fixed;
    right: 2%;
    bottom: 10%;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
.goTopIcon{
    font-size: 60px;
    color: #c51f24;
}

@media (max-width: 768px) {
    .goTopIcon{
        font-size: 50px;
    }
}