.goTop{
    max-width: 70px;
    max-height: 70px;
    position: fixed;
    right: 2%;
    bottom: 10%;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
.goTop img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    transform: rotateZ(270deg);
}